tests/plots/fBm_estimators/pdf/*
tests/plots/fBm_estimators/png/*
!tests/plots/fBm_estimators/png/fBm_Hurst_01600*
!tests/plots/fBm_estimators/png/fBm_Hurst_calc_times.png
!tests/plots/fBm_estimators/png/fBm_Hurst_RMSE.png


tests/plots/fBm_Whittle_variants/pdf/*
tests/plots/fBm_Whittle_variants/png/*
!tests/plots/fBm_Whittle_variants/png/fBm_Hurst_01600*
!tests/plots/fBm_Whittle_variants/png/fBm_Hurst_calc_times.png
!tests/plots/fBm_Whittle_variants/png/fBm_Hurst_RMSE*


*.swp
*.tmp
*.bak
*.vim
*~

################
# Python files #
################
__pycache__
.pytest_cache

# setup.py working directory
build

# sphinx build directory
_build

# setup.py dist directory
dist
doc/build
doc/cdoc/build

# Egg metadata
*.egg-info