tests/tmp

tests/fOU

tests/plots/arfima/pdf/*
tests/plots/arfima/json/*

tests/plots/fBm_baselines/pdf/*
tests/plots/fBm_baselines/png/*
tests/plots/fBm_baselines/json/*
!tests/plots/fBm_baselines/png/fBm_baselines_02048*
!tests/plots/fBm_baselines/png/fBm_baselines_calc_times.png
!tests/plots/fBm_baselines/png/fBm_baselines_RMSE.png

tests/plots/fBm_Whittle_Paxson/pdf/*
tests/plots/fBm_Whittle_Paxson/png/*
tests/plots/fBm_Whittle_Paxson/json/*
!tests/plots/fBm_Whittle_Paxson/png/fBm_Paxson_02048*
!tests/plots/fBm_Whittle_Paxson/png/fBm_Paxson_calc_times.png
!tests/plots/fBm_Whittle_Paxson/png/fBm_Paxson_RMSE.png

tests/plots/fBm_Whittle_variants/pdf/*
tests/plots/fBm_Whittle_variants/png/*
tests/plots/fBm_Whittle_variants/json/*
!tests/plots/fBm_Whittle_variants/png/fBm_spect_02048*
!tests/plots/fBm_Whittle_variants/png/fBm_spect_calc_times.png
!tests/plots/fBm_Whittle_variants/png/fBm_spect_RMSE.png

tests/volatility/plots/pdf/*
tests/volatility/plots/png/*
tests/volatility/plots/json/*
tests/volatility/plots/yaml/*

*.swp
*.tmp
*.bak
*.vim
*~

################
# Python files #
################
__pycache__
.pytest_cache

# setup.py working directory
build

# sphinx build directory
_build

# setup.py dist directory
dist
doc/build
doc/cdoc/build

# Egg metadata
*.egg-info